
body {
	background-color: #2808B9;
}

h1 {
	color: #060F3C;
	border-bottom: 2px solid #060F3C;
	padding-bottom: 5px;
	font-family: 'Oswald', sans-serif;
	/*font-weight: bold; */
	letter-spacing: .25em;

}

h3 {
	color: #060F3C;
	margin: 0px;
	margin-bottom: 1em;
	border-bottom: 2px solid #060F3C;
	font-family: 'Oswald', sans-serif;
	/*font-weight: bold; 
*/
	letter-spacing: .2em;
}

a {
	color: black;	
}

td {
	font-size: 75%;
	padding-bottom: .5em;
}

#message {
	height: 155px;
	width: 258px;
}

.inlineImageWide {
	float: right;
	width: 250px;
	margin: 5px;
}

.inlineImageTall {
	float: right;
	height: 220px;
	margin: 5px;
}

.inlineImageLeft {
	float: left;
	height: 220px;
	margin-right: 10px;
	margin-top: 5px;
}

.backImage {
	height: 75%;
}

.content1 {
	background-color: #fff;
	width: 1200px;
	margin-left: -200px;
	height: 140px;
	padding: 25px;
	margin-bottom: 150px;
	border: 1px solid #A4B3FF;
}

.content2 {
	background-color: #fff;
	width: 100%;
	height: 500px;
	border: 1px solid #0000ff;
	margin-bottom: 150px;
	padding: 40px;
	/*overflow-y: scroll;*/
}

.content3 {
	background-color: #fff;
	width: 100%;
	height: 400px;
	border: 2px solid #0000ff;
	margin-bottom: 150px;
	padding: 40px;
}

.content4 {
	background-color: #fff;
	width: 100%;
	height: 420px;
	border: 1px solid #0000ff;
	margin-bottom: 150px;
	padding: 40px;
}

.content5 {
	background-color: #fff;
	width: 100%;
	height: 430px;
	border: 1px solid #0000ff;
	margin-bottom: 150px;
	padding: 40px;
}


.overflowDiv {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.tableSectionTitle {
	padding-bottom: 1em;
}
#mainTitle {
	margin-top: 0px;
}

#mainQuote {
	margin-bottom:10px;
}

#about {
	perspective:800px;
}

#stories {
	perspective: 800px;
}

#current {
	perspective: 800px;
}

#teaching {
	perspective: 800px;
}

.bottomRow {
	perspective: 800px;
}

#aboutTransform {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 1s;
}

#storiesTransform {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 1s;
}

#currentTransform {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 1s;
}

#teachingTransform {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 1s;
}

.headerTransform {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform .5s;
}

.storyLink {
	color: #87BFFF;
}


#aboutTransform div {
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transform: rotateX(0deg);
}

#storiesTransform div {
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transform: rotateX(0deg);
}

#currentTransform .currentFaceFront {
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transform: rotateX(0deg);
}

#currentTransform .currentFaceBack {
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transform: rotateX(0deg);
}


#teachingTransform div {
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transform: rotateX(0deg);
}

.headerTransform div {
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transform: rotateX(0deg);
}

#aboutTransform.flipped {
	transform: rotateX(180deg);
}

#storiesTransform.flipped {
	transform: rotateY(180deg);
}

#currentTransform.flipped {
	transform: rotateX(180deg);
}

#teachingTransform.flipped {
	transform: rotateY(180deg);
}

.headerTransform.flipped {
	transform: rotateX(180deg);
}

.flip-image {
	transform: rotateZ(180deg);
}

#aboutTransform .aboutFaceBack {
	margin: auto;
	transform: rotateX(180deg);
}

#storiesTransform .storiesFaceBack {
	margin: auto;
	transform: rotateY(180deg);
}

#currentTransform .currentFaceBack {
	margin: auto;
	transform: rotateX(180deg);
}

#teachingTransform .teachingFaceBack {
	margin: auto;
	transform: rotateY(180deg);
}

.headerTransform .headerBack {
	margin: auto;
	transform: rotateX(180deg);
}

#topRow {
	margin-top: 20px;
}

#wrapper {
	position: relative;
}

/* Parallax Scroll Containers */

#foregroundContainer {
	z-index: 4;
	position: relative;
	width: 800px;
	margin: 0 auto;
	line-height: 1.7;
}

#shallowBackgroundContainer {
	z-index: 3;
	position: fixed;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 1200px;
	height: 2800px;
	margin-left: -600px; /* move left by half element's width */
}

#deepBackgroundContainer {
	z-index: 2;
	position: fixed;
	top: 0;
	width: 100%;
	height: 3000px;
	background-image: url('assets/857-tileable-classic-nebula-space-patterns/5.jpg');
	background-repeat: true;
}

@media(max-width:992px) {
	.content1 {
		width: 100%;
		margin-left: 0px;
	}

	#message {
		width: 80%;
		height: 30%;
	}
}











